In [32]:
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('diabetes.csv')

In [3]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [8]:
df.median()

Pregnancies                   3.0000
Glucose                     117.0000
BloodPressure                72.0000
SkinThickness                23.0000
Insulin                      30.5000
BMI                          32.0000
DiabetesPedigreeFunction      0.3725
Age                          29.0000
Outcome                       0.0000
dtype: float64

In [9]:
df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [11]:
df.var()

Pregnancies                    11.354056
Glucose                      1022.248314
BloodPressure                 374.647271
SkinThickness                 254.473245
Insulin                     13281.180078
BMI                            62.159984
DiabetesPedigreeFunction        0.109779
Age                           138.303046
Outcome                         0.227483
dtype: float64

In [12]:
df.skew()

Pregnancies                 0.901674
Glucose                     0.173754
BloodPressure              -1.843608
SkinThickness               0.109372
Insulin                     2.272251
BMI                        -0.428982
DiabetesPedigreeFunction    1.919911
Age                         1.129597
Outcome                     0.635017
dtype: float64

In [13]:
df.kurtosis()

Pregnancies                 0.159220
Glucose                     0.640780
BloodPressure               5.180157
SkinThickness              -0.520072
Insulin                     7.214260
BMI                         3.290443
DiabetesPedigreeFunction    5.594954
Age                         0.643159
Outcome                    -1.600930
dtype: float64

In [16]:
X = df.drop('Outcome', axis=1)
y = df['Outcome']

In [17]:
x_tr,x_te,y_tr,y_te=train_test_split(X,y,test_size=0.2,random_state=1)

In [29]:
def linear_regression(X_train, X_test, y_train, y_test):
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    y_pred = lr.predict(X_test)
    print("R2 Score:", lr.score(X_test, y_test))

R2 Score: 0.29518488901247686
[ 4.59954594e-01  3.80239747e-01  2.12342884e-01 -3.86688510e-02
  2.59843145e-01  3.13223890e-01  3.98602734e-01  1.43042165e-01
  1.84150528e-01  2.33610742e-01  4.63183983e-01  6.43846970e-02
  1.18172098e+00  6.74172073e-01 -3.41558250e-02  6.84984897e-01
  2.81878613e-01  3.62033756e-01  1.72141534e-01  2.03382082e-01
  4.30300626e-01  1.93234806e-01  1.04546584e+00  3.32335783e-01
  5.16388154e-02  4.21713029e-01  2.39696378e-01  7.17488802e-01
  8.41984016e-02  5.11167671e-01  4.26465056e-01  3.67646881e-01
  2.69066959e-02  6.33037586e-01  1.73488254e-01  5.69840193e-01
  1.04816474e-01  2.39828459e-01  1.17147162e-01  5.51938890e-01
  2.49338980e-01  9.23745089e-02 -5.59002742e-02  3.55269698e-01
  6.95943712e-02 -1.31731952e-01  6.90146960e-01  7.74790295e-01
  8.50897766e-02  1.77862993e-01 -2.77417995e-01  2.42839887e-01
  8.15258484e-01  1.71599058e-04  6.70338218e-01  1.22991838e-01
  5.82006387e-01  3.68288473e-01  5.29924785e-01  1.98006477e-01
  5.83305809e-01 -1.93200191e-01  6.65706148e-01  2.56646499e-01
  3.69333888e-01  1.40143376e-01 -2.89802770e-01  3.56781961e-01
  6.57983704e-01  5.90392627e-01  8.52687722e-01  6.62134170e-01
  5.48949597e-01 -2.00026126e-01  6.45641734e-01  3.46439052e-01
  6.21617966e-01  3.73622316e-01  1.74491155e-01  6.18775405e-01
  5.88225026e-01  3.00003387e-01  4.37879535e-01  3.52382261e-01
  2.83896806e-01  6.61101461e-01  5.49152694e-01  3.55876033e-01
  3.50832753e-01  3.49426299e-01  1.79679474e-01 -3.28916140e-02
  3.15956585e-01  1.06259492e-01  7.02412942e-01  4.92387096e-01
  3.22469888e-01  2.58317471e-01  7.86459960e-01  1.69192571e-01
  1.93372105e-01  3.45989495e-01  6.26914877e-01  3.12535807e-01
  1.48538757e-01  7.45938338e-02  5.16211167e-01  5.79835893e-01
  2.62640285e-01  1.40746929e-01  4.37271792e-01 -1.63154488e-02
  4.46608687e-01  2.31818304e-01 -2.15060239e-01  4.88753005e-02
  1.56170227e-01  4.21947182e-01  3.31252713e-01  4.09801877e-01
  2.56202569e-01  8.47331307e-01  3.83963356e-01  3.20828805e-01
  2.05381262e-01  1.72104868e-01  3.08639331e-01  4.03100739e-01
  5.83715887e-01  2.91740208e-01  1.00159174e+00 -6.37368930e-02
  4.16512314e-01  4.01080419e-01  1.96231711e-01  3.14304152e-01
  1.32530737e-01  6.08355619e-01  1.75213711e-01  2.98568266e-01
  9.88579286e-01  1.24452414e-01  2.48963367e-01  7.53689622e-01
  6.28493864e-01  4.67467874e-01 -1.07937818e-02  7.18107235e-02
  2.13751162e-01  2.15595724e-01  3.17636560e-01  1.03100070e+00
  1.16460526e-01  3.09400685e-01]

In [33]:
def logistic_regression(X_train, X_test, y_train, y_test):
    log_reg = LogisticRegression(max_iter=200)
    log_reg.fit(X_train, y_train)
    y_pred = log_reg.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(accuracy)
logistic_regression(x_tr,x_te,y_tr,y_te)

0.7792207792207793